.miniCal {
    margin-bottom: 15px;
    font-size: 0.8rem;

    thead {
        margin-bottom: 5px;

        th {
            font-weight: normal;
        }

        .monthNav {
            text-align: center;
        }

        .btn {
            padding: 0;
            margin: 0;
            line-height: 1;
        }
    }

    tbody {
        td {
            width: 24px;
            height: 24px;
            text-align: center;
        }

        .btn {
            width: 100%;
            height: 100%;
            padding: 0;
            border-radius: 50px;
            background-color: transparent;
            border-color: transparent;
            font-size: 0.8rem;
    
            &:hover {
                background-color: #E2E6EA;
            }

            &.notThisMonth {
                color: var(--gray);
            }
    
            &.today {
                background-color: var(--red);
                color: white;
            }
    
            &.selected {
                border-color: var(--red);
            }
        }
    }
    
}