.dragContainer {
    &.isDragging {
        color: var(--red);
    }
}

.dragHandle {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}