.dragContainer {
    display: flex;

    .dragHandle {
        width: 15px;
        visibility: hidden;
        color: var(--gray);

        svg {
            width: 0.8rem;
            height: 0.8rem;
            margin-left: 1.6px;
            margin-bottom: 2px;
        }

        &:hover {
            color: var(--red);
        }
    }

    .taskContent {
        flex-grow: 1;
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    .taskMenu {
        width: 15px;
        visibility: hidden;
        
        svg {
            width: 0.8rem;
            height: 0.8rem;
            color: var(--gray);

            &:hover {
                color: var(--red);
                cursor: pointer;
            }
        }
    }

    &:hover, &:focus-within, &.selected {
        background-color: #F7F7F7;

        .dragHandle, .taskMenu {
            visibility: visible;
        }
    }

    &.isDragging {
        .dragHandle {
            visibility: visible;
            color: var(--red);
        }
    }

    &.highlight {
        background-color: yellow;
    }
}

.taskDropdownToggle {
    &::after {
        display: none;
    }
}

.taskDropdownMenu {
    min-width: 5rem;
    font-size: 0.8rem;
    padding: 0.25rem 0;
    visibility: visible;

    .dropdown-item {
        padding: 0.25rem 0.5rem;

        svg {
            color: initial;
        }

        &:hover {
            svg {
                color: var(--red);
            }
        }

        &:active {
            svg {
                color: white;
            }
        }
    }
}