.dragContainer {
    display: flex;
    padding-right: 15px;

    .dragHandle {
        visibility: hidden;
        color: var(--gray);
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;

        svg {
            width: 0.8rem;
            height: 0.8rem;
        }

        &:hover {
            color: var(--red);
        }
    }

    .taskContent {
        overflow: hidden;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    &:hover {
        background-color: #F7F7F7;

        .dragHandle {
            visibility: visible;
        }
    }

    &.isDragging {
        .dragHandle {
            visibility: visible;
            color: var(--red);
        }
    }
}