.weekDay {
    width: 12.5%;
    min-width: 144px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 0;
}

.dayName {
    position: relative;
    height: 40px;
    padding: 0 15px;
    z-index: 10;
}

.today {
    font-weight: bold;
}

.dropContainer {
    flex-grow: 1;
    font-size: 0.8rem;
    padding-top: 40px;
    margin-top: -40px;

    &.isDraggingOver {
        background-color: #F7F7F7;
    }

    .addTask {
        margin-left: 15px;
        margin-right: 15px;
        display: none;

        &:focus-within {
            display: block;
        }
    }

    &:hover .addTask {
        display: block;
    }
}