.weekDay {
    width: 12.5%;
    min-width: 144px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 0;
}

.dayName {
    position: relative;
    height: 40px;
    padding: 0 15px;
    z-index: 10;
}

.today {
    font-weight: bold;
}

.dayContent {
    flex-grow: 1;
    font-size: 0.8rem;
    padding-top: 40px;
    margin-top: -40px;

    .addTask {
        margin-left: 15px;
        margin-right: 15px;
        display: none;

        &:focus-within {
            display: block;
        }
    }

    &:hover .addTask {
        display: block;
    }
}

.popover {
    border: none;
    box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);

    .arrow {
        visibility: hidden;
    }

    .popover-body {
        padding: 0;
    }

    .btn {
        padding: 0 6px 4px;
    }
}