header {
    height: 3rem;
    border-bottom: 1px solid var(--red);
    
    h1 {
        display: inline-block;
        margin-bottom: 0;
    }

    .weekNumber {
        font-size: 1rem;
        line-height: 1.2;
        color: var(--gray);
    }
}

main {
    height: calc(100vh - 3rem);
}

#toolCol {
    min-width: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.weekNav {
    padding-left: 10px;
}

.weekChevron {
    margin-left: 5px;
    margin-bottom: 5px;

    &:hover {
        cursor: pointer;
        fill: var(--red);
    }
}

.daysOfWeek {
    height: 100%;
}