.container-fluid {
    padding: 0;
}

header {
    height: 3rem;
    padding: 0 15px;
    
    h1 {
        display: inline-block;
        margin-bottom: 0;
    }

    .weekNumber {
        font-size: 1rem;
        line-height: 1.2;
        color: var(--gray);
    }
}

main {
    height: calc(100vh - 3rem);
    overflow-x: auto;
}

.daysOfWeek {
    display: inline-flex;
    flex-wrap: nowrap;
    height: 100%;
    margin: 0 15px;
    border-top: 1px solid var(--red);
}

#toolCol {
    min-width: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.weekChevron {
    margin-right: 5px;

    &:hover {
        cursor: pointer;
        fill: var(--red);
    }
}