@import url('https://rsms.me/inter/inter.css');

// General styling
body {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'ss01';
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}


h1 {
    font-weight: 900;
    text-transform: uppercase;
}


.editText {
    resize: none;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 5px;
    border-radius: 4px;

    &:hover {
        border-color: black;
        cursor: pointer;
    }

    &:focus {
        outline: none;
        cursor: text;
    }
}