@import url('https://rsms.me/inter/inter.css');

// General styling
body {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'ss01';
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}


h1 {
    font-weight: 900;
    text-transform: uppercase;
}


// Editor block style overrides
.public-DraftStyleDefault-ol, .public-DraftStyleDefault-ul {
    margin: 0 !important;

    li {
        margin-left: 0.75rem !important;
    }
}

.header3 {
    font-size: 1rem;
}



$card:  0 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
$heavy: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);